<div id="course_section" style="display:block;">
  <%= render :partial => "courses/course_section" %>
</div> 

<div id="diagnostics_section" style="display:none;">
  <%= render :partial => "courses/diagnostics_section"%>
</div> 

<div id="lessons_section" style="display:none;">
  <%= render :partial => "courses/lessons_section"%>
</div> 


<div id="reassess_section" style="display:none;">
  <%= render :partial => "courses/reassess_section" %>
</div> 