<!--p style="font-size:22px;font-weight:bold;margin-bottom:20px;">COURSE SELECTION</p>

<%# i,j = 1,1 %>
<ul class="nav nav-pills blue" id="myTab">
  <%# courses.each do |c| %>
    <li class=<%#= 'active' if i == 1 %>>
      <a href="#<%#= c.course_name %>" data-toggle="tab">
        <%#= c.course_name %></a>
    </li>
    <%# i += 1 %>
  <%# end %>
</ul>

<div class="tab-content" id="myTabContent">
  <%# courses.each do |c| %>
    <div id="<%#= c.course_name %>" class="tab-pane fade <%#= 'active in' if j == 1 %>">
      <%#= render :partial=>"courses/show_course_details",:locals => {:cid => c.id } %>
    </div>
    <%# j += 1 %>
  <%# end %>
</div-->
<div class="span12" >&nbsp;</div>
<% courses.each do |c| %>
<div class="span12 course-listing" style="border-bottom:1px solid grey;">
  <div style="width:79%;float:left;" class="expandable" ><p style="font-size:18px;font-weight:bold;"><%= c.course_name %></p><p><%= render :partial=>"courses/show_course_details",:locals => {:cid => c.id } %></p></div>
  <div style="width:19%;float:left;padding-left:5px;">
    <p>&nbsp;</p>
    <p><%= link_to "Take Diagnostic",{:controller => "/courses", :action=>"diagnostics",:id=>"#{c.id}"},{:class=>"btn btn-custom", :style=>"width:80%;"}%></p>
    <p><%= link_to "Go to Course", {:controller => "/courses", :action=>"lessons",:id=>"#{c.id}"},{:class=>"btn btn-custom", :style=>"width:80%;"}%></p></div>
</div>
<% end %>

<script type="text/javascript">
  function show_course(cid){
    $('.course').hide();
    $('#show_course_'+cid).show();
  }

  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })

  $(document).ready(function() {
  // simple example, using all default options unless overridden globally
  //$('div.expandable p').expander();

  // *** OR ***

  // override default options (also overrides global overrides)
  $('div.expandable').expander({
    slicePoint:       200,  // default is 100
    expandPrefix:     '...', // default is '... '
    expandText:       'more', // default is 'read more'
    collapseTimer:    0, // re-collapses after 5 seconds; default is 0, so no re-collapsing
    userCollapseText: '...less'  // default is 'read less'
  });

});
</script>