/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.footer-main {
    background-color: #1B1B1B; /* fallback color, place your own */

    /* Gradients for modern browsers, replace as you see fit */
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -ms-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(top, #222222, #111111);
    background-repeat: repeat-x;

    /* IE8-9 gradient filter */
    filter: progid:DXImageTransform.Microsoft.gradnnerient(startColorstr='#222222', endColorstr='#111111', GradientType=0);

    /*height:22px;*/
    font-size:13px;
    color:#999999;
}

.custom-field-size {
    width:97%;
    height:30px;
}

.exam-content {
    background-color: #16887B;

    /* Gradients for modern browsers, replace as you see fit */
    background-image: -moz-linear-gradient(top, #16887B, #087A6D);
    background-image: -ms-linear-gradient(top, #16887B, #087A6D);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#16887B), to(#087A6D));
    background-image: -webkit-linear-gradient(top, #16887B, #087A6D);
    background-image: -o-linear-gradient(top, #16887B, #087A6D);
    background-image: linear-gradient(top, #16887B, #087A6D);
    background-repeat: repeat-x;

    /* IE8-9 gradient filter */
    filter: progid:DXImageTransform.Microsoft.gradnnerient(startColorstr='#16887B', endColorstr='#087A6D', GradientType=0);
    
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.course-listing {
    border-bottom: 1px solid #CCCCCC;
    padding: 20px 10px 20px 15px;
}

.course-listing:hover {
    background-color: #CCCCDD;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

#header_tabs {
    list-style: none;
    margin-left:0px;
}

#header_tabs li {
    font-size:20px;
    line-height:30px;
}

#header_tabs li a {
  text-decoration:none;
  color:#FFFFFF;
}