<div class="container-fluid">
<div class="row-fluid">
<div class="span10 offset1 banner-main">
<%#= image_tag "homepage-banner.jpg", :style => "width:100%;margin-top:-20px;" %>
<!--div class="span12" style="background-color:#16887B;"-->
  <div class="span5"><p class="banner-text">How do I best the test?</p>
   <p style="padding:0 0 0 40px;font-family:helvetica;">This is going to be where one and all who set foot on
   	this web page will be captured for ever. This is going to
   	be where one<p/>
  </div>
  <div class="span5 offset2" ><%= image_tag "wiz-image.gif" %></div>
<!--/div-->

</div>
</div> 