<div class="container-fluid">
<div class="row-fluid">
<div class="span10 offset1 banner-main">
<%#= image_tag "homepage-banner.jpg", :style => "width:100%;margin-top:-20px;" %>
<!--div class="span12" style="background-color:#16887B;"-->
  <div class="span5"><p class="banner-text">How do I best the test?</p>
   <p style="padding:0 0 0 40px;font-family:helvetica;">This is going to be where one and all who set foot on
   	this web page will be captured for ever. This is going to
   	be where one<p/>
  </div>
  <div class="span5 offset2" ><%= image_tag "wiz-image.gif" %></div>
<!--/div-->
  <div class="fb-like" data-href="http://www.wizprep.com" data-send="false" data-width="200" data-show-faces="false"></div>
  



</div>
</div>
</div>
<script type="text/javascript">
$(window).load(function() {
  // add 'style="height:30px;"' to the div with id="foo".
//$('.pls').css("display",'none');


  });
</script>