<div class="jumbotron masthead">
  <div class="container">
    <h1>Mastery.</h1>
    <p class="center_description">Train with the Adaptive Education Framework for a thorough
      learning experience (and, of course, to maximize your score).</p>
    <p style="margin-bottom:10px;">
      Already have an account.
    </p>
    <p style="margin-bottom:5px;">
      <a href="users/sign_in" class="btn btn-success btn-large">Sign in</a>
    </p>
    <p style="margin-bottom:5px;">
      or
    </p>
    <p>
      <a href="users/sign_up" class="btn btn-primary btn-large">Sign up Now</a>
    </p>
    <ul class="masthead-links">
      <li>
        <a href="javascript:void(0);" onclick="$('#show_all_course').toggle();">Course Offerings</a>
      </li>
      <li>
        <a href="./getting-started.html#examples" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Examples']);">Sample Questions</a>
      </li>
      <li>
        <a href="./extend.html" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Extend']);">Videos</a>
      </li>
      <li>
        Learn More...
      </li>
    </ul>
  </div>
</div>