<div class="container-fluid footer-main">
<div class="row-fluid" >
  <div class="span10 offset1" style="padding-top:20px;">
			<div class="span4">
                          <p style="border-bottom:2px solid grey;"><b>About us</b></p>
				Need help?<br/>
				Contact us 7 days a week.
			</div>
			<div class="span4">
                          <p style="border-bottom:2px solid grey;"><b>Important links</b></p>
				Call us: +1-734-654-1234<br/><br/>
				Email us: example@gmail.com
			</div>
			<div class="span4">
                          <p style="border-bottom:2px solid grey;"><b>Support/Contact</b></p>
				&copy;Copyright 2013. All rights reserved.
			</div>

</div>
</div>
</div>
<!--div class="footer-main" >
			<div style="width:100%;float:left;text-align:center;">
				&copy;Copyright WizPre 2013. All rights reserved.
			</div>
</div-->